
page-charitydetail{
        
        padding:block;
        margin:auto;
        text-align: center;
        padding-top:20%;
    
    
    .info{
        padding:10%;
        padding-top:5%;
    }

    .profileimg{
        width:auto;
        height:auto;
    }

    .topbar{
        margin-top:170px;
    }
}

